@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {

    width: 100%;

    background-color: #E5E5E5;

    font-family: 'Roboto';
    color: black;

}

a {

    text-decoration: none;

}

/*========================
    HEADER
========================*/

.topbox {

    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 8px 0 18px 21px;

    background-color: #CF2B2B;

    /*drop shadow?*/
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.top_logos .top_title {

    height: 44px;
    width: 248px;

    display: flex;
    
    margin: 8px 0 0 0;

}

.top_title span {

    font-family: 'Righteous';

    font-size: 44px;
    
    color: #FFFFFF;

}


.top_logos .top_slogan {

    height: 17px;
    width: 226px;

    display: flex;
    align-items: flex-end;

    font-size: 18px;
    font-weight: 400;

    color: #FFFFFF;

}

.top_slogan span {

    font-size: 18px;

    color: #FFFFFF;
    
}

/*========================
    OPTIONS
========================*/

.options {

    margin: 31px 0 0 20px;

}

.row {

    margin: 0 0 27px 0;

}

.row_title {

    font-family: 'Righteous';

    font-size: 26px;
    font-weight: 400;

    color: #333333;

}

.row_menu {

    display: flex;

    overflow-x: scroll;

    width: 100%;
    height: 100%;

}

.row_menu .type {

    width: 172px;
    height: auto;

    padding: 18px 14px 0 14px;
    margin: 17px 16px 0 0;

    border-radius: 9px;

    background-color: #FFFFFF;

    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

}

.row_menu img {

    width: 144px;
    height: 87px;

    border-radius: 5px;

    object-fit: cover;

}

.options .row .row_menu .type.selected {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;

} 

.item_title {

    margin: 11px 0 15px 0;

    font-size: 16px;
    font-weight: 700;

    color: #333333;


}

.item_description {

    margin: 0 0 15px 0;

    font-size: 15px;
    font-weight: 300;

    line-height: 18px;

    color: #A6A6A6;


}

.value_box {

    height: auto;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin: 0 0 13px 0;

}

.item_value {

    font-size: 16px;
    font-weight: 400;

}


.type .item_confirmation {

    opacity: 0;
    color: #32B72F;
    font-size: 20px;

}

.options .row .row_menu .type.selected .item_confirmation{
    opacity: 1;

}

/*========================
    CHECKOUT
========================*/


.checkout {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 92px;
    width: 100%;

    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 100;

    background-color: #FFFFFF;

}

.open_checkout {

    width: 364px;
    height: 61px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    background-color: #CBCBCB;


}

.open_checkout {

    font-size: 20px;
    font-weight: 400;

    color: #FFFFFF;

}

.open_hidden {
    all: initial;
}

.checkout .order.active {

    width: 364px;
    height: 61px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 20px;

    background-color: #32b72f;

    color: #FFFFFF;

}


.overlay.hidden_overlay {

    display: none;

}

.overlay.show {

    display: flex;

    align-items: center;
    justify-content: center;


    position: fixed;

    top: 0;
    left: 0;
    z-index: 200;

    height: 100%;
    width: 100%;

    background-color: rgba(255,255,255,0.9);

    color: #fff;


}

.order_check {

    display: flex;

    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


    position: fixed;
    z-index: 201;

    width: 100%;


    background-color: rgba(80, 208, 116, 1);

    width: 377px;
    height: 353px;

}

.overlay_title {

    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    margin: 21px 0 28px 0;

}

.order_info {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    height: 145px;
    width: 100%;


}

.maindish_row , .drink_row , .dessert_row, .total_row {

    display: flex;
    justify-content: space-between;

    margin: 0 26px 13px 26px;

    width: 85%;

}


.total_row {

    font-weight: 700;

}

.confirm_button {

    height: 55px;

    display: flex;

    align-items: center;
    justify-content: center;

    margin: 24px 0 0 10px;

}

.confirm_button a {

    height: 52px;
    width: 329px;

    background-color: #FFF;
    border-radius: 50px;

    color: #50D074;

    font-weight: 700;
    font-size: 22px;

    text-align: center;

    line-height: 26px;

    padding: 12px;


}

.cancel_button {

    margin: 0 0 0 10px;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 50%;
    height: 52px;
    background-color: none;

    font-weight: 700;
    font-size: 20px;


}

.overlay_thankyou.showthanks {

        display: flex;
    
        align-items: center;
        justify-content: center;
    
    
        position: fixed;
    
        top: 50%;
        left: 50%;
        z-index: 200;
    
        height: 100%;
        width: 100%;
    
        background-color: rgba(255,255,255,0.9);

}

.overlay_thankyou.hidden_overlay {

    display: none;

}