@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {

    width: 414px;
    background-color: #E5E5E5;

    font-family: 'Roboto';

}

/*========================
    HEADER
========================*/

.topbox {

    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 8px 0 18px 21px;

    background-color: #CF2B2B;
    /*background-color: rgba(207, 43, 43, 1);*/

    /*drop shadow?*/
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.top_logos .top_title {

    height: 44px;
    width: 248px;

    display: flex;
    
    /*background-color: green;*/

}

.top_title span {

    font-family: 'Righteous';

    font-size: 44px;
    
    color: #FFFFFF;

}


.top_logos .top_slogan {

    height: 17px;
    width: 226px;

    display: flex;
    align-items: flex-end;

    font-size: 18px;
    font-weight: 400;

    color: #FFFFFF;
    /*background-color: blue;*/

}

.top_slogan span {

    /*font-family: Righteous;*/

    font-size: 18px;

    color: #FFFFFF;
    
}












/*========================
    CHECKOUT
========================*/


.checkout {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 92px;
    width: 100%;

    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 100;

    background-color: #FFFFFF;

}

.open_checkout {

    height: 61px;
    width: 364px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 50px;
    background-color: #CBCBCB;

    font-size: 20px;
    color: #FFFFFF;

}

.open_hidden {

    display: none;

}

.closed_checkout {
    
    height: 61px;
    width: 364px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 50px;
    background-color: #32B72F;

    font-size: 20px;
    color: #FFFFFF;

}

.closed_hidden {
    display: none;
}